# Virtual Environment
.venv/
env/
venv/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Database & local data
*.db
*.sqlite3
data/
data/*.db

# Environment variables & secrets
.env

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db